img {
	width: 100%;
}

table {
	width: 100%;
}

.hljs {
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 5px !important;
	color: #008 !important;
/*
	padding: 0.2em !important;
*/
}
